files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/02a_getfile.sh":
    owner: root
    group: root
    mode: "000755"
    content: |
      #!/bin/bash
      aws s3 cp s3://dev.nrgretail.credentials/nrp-prototype/dev/credentials.py /var/app/current/config/settings/

Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Access:
          type: S3
          roleName: eb.comcast.reporting
          buckets: dev.nrgretail.credentials
