<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Flintrock</title>
</head>
<body>
<p>Hello potential customer</p>


<form action="/" method="post">
{% csrf_token %}
    {{ form }}
    <input type="submit" value="Go" />
</form>

<br>
<img style='width:200px;' src="http://httpcats.herokuapp.com/429.jpg"/>


<h6>Content should be hidden...</h6>
<p>order id: {{order.id}}
<p>order addr: {{order.address}}
<p>order plan: {{order.plan}}
<p>order validated addr: {{order.validated_address}}
<p>order sku: {{order.sku}}
</body>
</html>